html {
  height: 100vh;
  width: 100vw;
}

#root{
  color: green;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main{
  height: 100%;

}

.header {
  height: 10%;
  background-color: yellow;
}

.footer {
  height: 10%;
  background-color: yellow;
}

.middle {
  height: 80%;
  display: flex;
  background-color: yellow;
  justify-content: space-between;
}

.options {
  height: 100%;
  width: 15%;
  background-color: yellow;
}

.selections {
  height: 100%;
  width: 15%;
  background-color: yellow;
}

.grid {
  height: 80vh;
  width: 80vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}



.grid .row {
  height: 2%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.grid .row .occupied {
  height: 100%;
  width: 2%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: green;
}

.grid .row .vacant {
  height: 100%;
  width: 2%;
  margin: 0;
  padding: 0;
  background-color: blue;
  border: 1px solid black;
}

.startButton {
  height: 20px;
  width: 30px;
  background-color: blue;
}
